@use "./partials/mixin" as *;
@use "./partials/variables" as *;
@use "./partials/global" as *;
@use "./animation" as *;

/*Styling hero section, and adjusting the background image with a darker overlay--Making responsive*/

.hero {
  background: no-repeat center url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  &--overlay {
    background-color: rgba(50, 50, 50, 0.5);
  }
  &__heading {
    color: $white;
    padding: 5rem 1rem;
    @include tablet {
      padding: 13rem 2.25rem;
    }
    @include desktop {
      padding: 20rem 8rem;
    }
  }
}

/*Styling main section background and font color, adjusting image and header padding--Making responsive*/

.main {
  background-color: $white;
  color: $bandsite-darkblack;
  &__heading {
    @include mobile-header-padding;
  }
  @include tablet {
    .main__heading {
      padding: 3rem 2.25rem 2rem;
    }
  }
  @include desktop {
    .main__heading {
      padding-left: 8rem;
    }
  }
}

/*Adding padding to main container elements, adjusting image--Making responsive*/

.main__container {
  padding: 1rem;
  &-img {
    width: 100%;
  }
  &-subheading {
    @include flex-justify;
    text-align: start;
    padding-bottom: 0.3rem;
  }
  &-singer {
    padding-bottom: 1rem;
  }
  &-band {
    padding-bottom: 0.875rem;
  }
  &-paragraph {
    font-size: 0.875rem;
    text-align: justify;
  }
  .first {
    padding-bottom: 1rem;
  }
  @include tablet {
    padding: 2.25rem 5rem;
    .main__container {
      &-img {
        display: block;
        margin: 0 auto;
        padding-bottom: 2.25rem;
      }
      &-subheading {
        font-size: 1.3rem;
        padding-bottom: 1rem;
        justify-content: flex-start;
      }
      &-singer {
        font-size: 1rem;
      }
      &-band {
        font-size: 1.5rem;
        padding: 2.25rem 0;
      }
      &-story {
        display: flex;
        justify-content: flex-start;
      }
      &-paragraph {
        line-height: 1.3rem;
      }
    }
    .first {
      padding-right: 1.5rem;
    }
  }
  @include desktop {
    padding: 2.25rem 10rem;
    .main__container-paragraph {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}

/*Setting background color, adding padding to elements, and adjusting images of photo gallery*/

.photo-gallery {
  background-color: $mercury;
  &__container {
    padding: 1rem;
  }
  &__heading {
    padding-bottom: 1rem;
  }
  &__image {
    width: 100%;
    margin-bottom: 1rem;
  }
  &__images-container {
    opacity: 0;
  }
  @include tablet {
    .photo-gallery {
      &__container {
        padding: 3rem;
      }
      &__images-container {
        @include flex-justify;
        flex-wrap: wrap;
      }
      &__image {
        width: 30%;
        margin: 0.65rem;
      }
    }
  }
  @include desktop {
    .photo-gallery {
      &__container {
        padding: 2rem 10rem 1rem 10rem;
      }
    }
  }
}

//styling for comments section

.comment {
  max-width: 15rem;
  background-color: $bandsite-black;
  border-radius: 3px;
  margin-left: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  color: #ffffff;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  & > * {
    margin-bottom: 1rem;
  }
  &__name {
    font-size: 1.1rem;
    font-weight: map-get($map: $font-weights, $key: bold);
  }
  &__date {
    font-size: 0.8rem;
    position: absolute;
    right: 1rem;
  }
  &__dynamic {
    max-width: 15rem;
    background-color: $bandsite-black;
    border-radius: 3px;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    color: #ffffff;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    animation: slideIn 1s 1;
    transition: ease-in;
    & > * {
      margin-bottom: 1rem;
    }
  }
  &__name-generated {
    font-size: 1.1rem;
    font-weight: map-get($map: $font-weights, $key: bold);
  }
}

.comment__dynamic-name {
  font-size: 1.1rem;
  font-weight: map-get($map: $font-weights, $key: bold);
}

.comments__container {
  display: flex;
  flex-wrap: wrap;
}

#form {
  display: flex;
  margin-left: 1rem;
}

#formImage {
  object-fit: cover;
  background-color: $mercury;
  max-width: 2.25rem;
  max-height: 2.25rem;
  margin-right: 1rem;
  margin-top: 1rem;
  border-radius: 50%;
}

#formName {
  min-height: 2.25rem;
  margin-bottom: 1rem;
  padding: 0.75rem;
  background-color: $alabaster;
  border: 1px solid $mercury;
  border-radius: 0.25rem;
  &:active {
    border: 1px solid $bandsite-black;
  }
  &:invalid {
    border: 1px solid #d22d2d;
  }
}

input,
textarea {
  color: #afafaf;
}

#comments {
  margin-bottom: 1rem;
  padding: 0.75rem;
  background-color: $alabaster;
  border: 1px solid $mercury;
  height: 5rem;
  border-radius: 0.25rem;
  resize: none;
}

.comments__section {
  padding: 2rem 10rem;
  display: flex;
}

.form {
  &__container {
    display: flex;
    flex-direction: column;
    width: 17rem;
    border: 0px;
  }
  &-description {
    font-weight: map-get($map: $font-weights, $key: demi);
    font-size: 0.7rem;
    margin-bottom: 0.25rem;
    color: #afafaf;
  }
  &__button {
    max-height: 2.5rem;
    width: min-content;
    font-weight: map-get($map: $font-weights, $key: demi);
    padding: 0.7rem;
    background-color: $bandsite-black;
    border-radius: 0.2rem;
    color: #ffffff;
    border: 0;
    cursor: pointer;
  }
  &__button:hover {
    background-color: $bandsite-darkblack;
  }
}
