@use "./partials/global" as *;
@use "./partials/variables" as *;
@use "./partials/mixin" as *;

.hero {
  background: no-repeat center url(../assets/images/hero-shows.jpg);
  background-size: cover;
  &--overlay {
    padding: 2rem 1rem;
    background-color: rgba(50, 50, 50, 0.5);
    @include tablet {
      padding: 10rem 2.25rem;
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      padding: 15rem 5rem;
    }
  }
  &__paragraph {
    color: $white;
    padding-bottom: 1rem;
    font-weight: map-get($map: $font-weights, $key: demi);
  }
  &__heading {
    color: $white;
    width: 80%;
    margin-bottom: 1rem;
  }
}

.section__shows {
  background: linear-gradient(to bottom right, $mercury, $alabaster);
  padding: 10rem 5rem;
  &--header {
    font-weight: map-get($map: $font-weights, $key: bold);
    color: $bandsite-black;
    margin-right: 4rem;
  }
  &--tours {
    display: flex;
    flex-wrap: wrap;
  }
}

.tour__container {
  font-size: 0.8rem;
  & > * {
    margin-bottom: 0.5rem;
  }
  &--date {
    font-size: 1rem;
  }
  &--btn {
    padding: 0.3rem 0.7rem;
    background-color: $bandsite-black;
    color: $alabaster;
    border: 0;
    border-radius: 2px;
    &:hover {
      transform: scale(1.04);
      transition: all 0.25s ease-out;
    }
  }
}
